@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
  /* Colors Pomodoro */
  --bg-yellow: #fefcf2;
  --container-yellow: #fdf5d7;
  --select-yellow: #fbeaa9;
  --principal-yellow: #897b46;
  /* Colors Short Break  */
  --bg-blue: #f8fbfb;
  --container-blue: #e9f2f4;
  --select-blue: #d0e2e7;
  --principal-blue: #667578;
  /* Colors Long Break */
  --bg-green: #f7fcfa;
  --container-green: #e7f4f1;
  --select-green: #cce8e0;
  --principal-green: #627a73;
  /* Shadows */
  --shadows: 0.4rem 0.4rem 2rem rgba(100, 100, 100, 0.1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Roboto", sans-serif;
  color: var(--principal-yellow);
  background: var(--bg-yellow);
  font-size: 62.5%;
}
main {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}
.navbar__logo {
  padding: 1.2rem;
  display: flex;
}
.navbar__logo--img > path,
.navbar__settings > path {
  fill: var(--principal-yellow);
}
.navbar__logo--title {
  align-self: center;
  padding: 0 1rem;
}
.navbar__settings {
  margin: 1.2rem;
}

.timer {
  margin: 6rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timer__status {
  background: var(--container-yellow);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 2.4rem;
  -webkit-border-radius: 2.4rem;
  -moz-border-radius: 2.4rem;
  -ms-border-radius: 2.4rem;
  -o-border-radius: 2.4rem;
  border: none;
  box-shadow: var(--shadows);
}
.timer__status > input {
  display: none;
}
.timer__status > label {
  padding: 1.6rem 1rem;
  font-weight: 500;
  font-size: 1.6rem;
  cursor: pointer;
  text-align: center;
}
.timer__status > input:checked  + label {
  background: var(--select-yellow);
  border-radius: 2.4rem;
  -webkit-border-radius: 2.4rem;
  -moz-border-radius: 2.4rem;
  -ms-border-radius: 2.4rem;
  -o-border-radius: 2.4rem;
}

.timer__counter {
  margin: 6rem auto;
  font-size: 8rem;
  font-weight: 500;
  display: flex;
}

.timer__controls {
  background: var(--container-yellow);
  box-shadow: var(--shadows);
  border-radius: 2.4rem;
  -webkit-border-radius: 2.4rem;
  -moz-border-radius: 2.4rem;
  -ms-border-radius: 2.4rem;
  -o-border-radius: 2.4rem;
  padding: 0.8rem 2rem;
  width: 70%;
  max-width: 28rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.timer__controls--icon > path {
  fill: var(--principal-yellow);
}

.tasks {
  padding: 2rem;
  background: var(--container-yellow);
  box-shadow: var(--shadows);
  border-radius: 2.4rem;
  -webkit-border-radius: 2.4rem;
  -moz-border-radius: 2.4rem;
  -ms-border-radius: 2.4rem;
  -o-border-radius: 2.4rem;
}
.tasks__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tasks__header--title {
  font-size: 2rem;
  font-weight: 500;
}
.tasks__header--icon > path {
  fill: var(--principal-yellow);
}

.tasks__new-task {
  margin: 2rem 0 0 0;
  background: var(--select-yellow);
  display: flex;
  justify-content: space-between;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
}
.tasks__new-task > div {
  display: flex;
  width: 100%;
}
.tasks__new-task--complete {
  display: none;
}
.tasks__new-task--complete + label {
  cursor: pointer;
  margin: 2rem 1.2rem;
  width: 2rem;
  height: 2rem;
  background-image: url(../assets/icons/Check.svg);
}
.tasks__new-task--complete:checked + label {
  background-image: url(../assets/icons/Checked.svg);
}
.tasks__new-task--name {
  background: none;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  outline: none;
  margin: 2rem 0;
  color: var(--principal-yellow);
  width: 80%;
  max-width: 92rem;
}
.tasks__new-task--menu {
  margin: 2rem 1.2rem;
}
.tasks__new-task--menu > path {
  fill: var(--principal-yellow);
}

/* SHORT BREAK */
.bl-html {
  color: var(--principal-blue);
  background: var(--bg-blue);
}

.bl-navbar__logo--img > path, .bl-navbar__settings > path {
  fill: var(--principal-blue);
}

.bl-timer__status {
  background: var(--container-blue);
}
.bl-timer__status > input:checked  + label {
  background: var(--select-blue);
}
.bl-timer__controls {
  background: var(--container-blue);
}
.bl-timer__controls--icon > path {
  fill: var(--principal-blue);
}

.bl-tasks {
  background: var(--container-blue);
}
.bl-tasks__header--icon > path {
  fill: var(--principal-blue);
}
.bl-tasks__new-task {
  background: var(--select-blue);
}
.bl-tasks__new-task--complete + label {
  background-image: url(../assets/icons/bl-Check.svg);
}
.bl-tasks__new-task--complete:checked + label {
  background-image: url(../assets/icons/bl-Checked.svg);
}
.bl-tasks__new-task--name {
  color: var(--principal-blue);
}
.bl-tasks__new-task--menu > path {
  fill: var(--principal-blue);
}

/* LONG BREAK */
.gr-html {
  color: var(--principal-green);
  background: var(--bg-green);
}

.gr-navbar__logo--img > path, .gr-navbar__settings > path {
  fill: var(--principal-green);
}

.gr-timer__status {
  background-color: var(--container-green);
}
.gr-timer__status > input:checked  + label {
  background: var(--select-green);
}
.gr-timer__controls {
  background: var(--container-green);
}
.gr-timer__controls--icon > path {
  fill: var(--principal-green);
}

.gr-tasks {
  background: var(--container-green);
}
.gr-tasks__header--icon > path {
  fill: var(--principal-green);
}
.gr-tasks__new-task {
  background: var(--select-green);
}
.gr-tasks__new-task--complete + label {
  background-image: url(../assets/icons/gr-Check.svg);
}
.gr-tasks__new-task--complete:checked + label {
  background-image: url(../assets/icons/gr-Checked.svg);
}
.gr-tasks__new-task--name {
  color: var(--principal-green);
}
.gr-tasks__new-task--menu > path {
  fill: var(--principal-green);
}